@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 250, 250);
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  position: relative;
}

h2::after {
  content: "";
  height: 4px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(000, 000, 000);
  position: absolute;
  bottom: -5px;
  left: 0;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 0;
}

@media (min-width: 400px) {
  ul {
    margin: 0 auto;
    width: 350px;
  }
}

@media (min-width: 685px) {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: auto;
  }
}

ul li {
  border: 1px solid rgb(219, 229, 230);
  overflow: hidden;
  position: relative;
}

ul li a {
  text-decoration: none;
}

ul li img {
  max-width: 100%;
  width: 100%;
  height: 250px;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease 0s;
}

ul li img:hover {
  transform: scale(1.05);
}

ul li .info {
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(219, 229, 230);
  padding: 1.5rem;
  position: relative;
}

.info h3 {
  font-size: 1rem;
}

.info a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(237, 44, 73);
  border-radius: 10rem;
  color: rgb(255, 255, 255) !important;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border: 2px solid rgb(237, 44, 73);
}

.info a:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3rem 1rem;
  cursor: pointer;
  transform: scale(1.015);
}
